/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 95%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#logoleft {
  position: absolute;
  top: 3em;
  left: 0.5em;
  z-index: 10;
  border:6px solid white;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
}

#textleft {
  position: absolute;
  top: 12em;
  left: 0.5em;
  z-index: 12;
}

#badgeleft {
  position: absolute;
  top: 3em;
  left: 0.5em;
  z-index: 12;
  background-color: white;
  padding: 10px;
  border-radius: 25px;
}
